.login_or_singUp_page {
  padding-top: 4.2rem;
  padding-bottom: 4.2rem;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 99;
  height: 100vh; }
  .login_or_singUp_page a {
    text-decoration: none !important; }

.myform {
  position: absolute;
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  top: 50px;
  left: 50%;
  z-index: 100;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  padding: 1rem;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 1.1rem;
  outline: 0;
  max-width: 500px; }

.head_line {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px; }

.input_div {
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px; }

.input_label {
  margin-right: 10px;
  width: 120px;
  font-weight: bold;
  text-align: left; }

.tx-tfm {
  text-transform: uppercase; }

.mybtn {
  color: white;
  border: none;
  border-radius: 50px;
  background: #33b358; }
  .mybtn:hover {
    background: #298442;
    color: white; }

.form_input {
  border-radius: 5px;
  padding: 5px 0 5px 10px;
  border: 1px solid #ced4da;
  width: 250px; }

.form_link {
  color: #298442;
  border: none; }
  .form_link:hover {
    color: #1c592c; }

.error {
  text-align: left;
  padding-bottom: 10px;
  padding-left: 40px; }

form .error {
  color: #ff0000; }
